<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <% @categories.each do |category| %>
          <h2 class="post-title">
          <%= link_to category.name , "/categories/#{category.id}" %>
          </h2>
        <p class="post-meta">Posted by
          <a href="#">hatarakospa</a>
          <%= category.created_at %></p>
          <hr>
          <% end %>
      </div>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>
