<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
          <h2 class="post-title">
            カテゴリ別記事一覧
          </h2>
          <% @articles.each do |article| %>
          <%= link_to article.title , "/articles/#{article.id}" %>
          <br />
          <% end %>
      </div>
      <hr>
    </div>
  </div>
</div>
